<div class="mt-5">
  <div>
    <jhi-alert-error></jhi-alert-error>

    <div class="alert alert-warning" id="no-result" *ngIf="articles?.length === 0">
      <span jhiTranslate="gestockApp.article.home.notFound">No articles found</span>
    </div>
  </div>
  <div class="table table table-responsive table-sm p-datatable-responsive-demo">
    <p-toolbar styleClass="p-mb-4 mb-3">
      <ng-template pTemplate="left">
        <h5 class="p-m-0">Liste des articles</h5>
      </ng-template>
      <button
        pButton
        pRipple
        [label]="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        title="Supprimer la selection"
        [disabled]="!selectedArticles || !selectedArticles.length"
        (click)="deleteSelectedArticles()"
      ></button>

      <ng-template pTemplate="right">
        <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-info p-mr-2 m-1" (click)="showDialog()"></button>
        <button pButton pRipple label="Actualiser" (click)="loadAll()" [disabled]="isLoading" class="p-button-help">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        </button>
      </ng-template>
    </p-toolbar>

    <p-table
      *ngIf="articles && articles.length > 0"
      #dt
      styleClass="p-datatable-gridlines p-datatable-responsive-demo p-datatable-sm p-datatable-striped"
      [value]="articles"
      [rows]="10"
      [paginator]="true"
      [rowHover]="true"
      dataKey="id"
      [resizableColumns]="false"
      currentPageReportTemplate="Projection {first} à {last} de {totalRecords} articles"
      [showCurrentPageReport]="true"
      [(selection)]="selectedArticles"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th class="text-center" pSortableColumn="libelle">Libele <p-sortIcon field="libelle"></p-sortIcon></th>
          <th class="text-center" pSortableColumn="mark">Marque <p-sortIcon field="mark"></p-sortIcon></th>
          <th hidden pSortableColumn="category">Catégorie <p-sortIcon field="category"></p-sortIcon></th>
          <th class="text-center">Catégorie</th>
          <th class="text-center">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-article>
        <tr>
          <td>
            <p-tableCheckbox [value]="article"></p-tableCheckbox>
          </td>
          <td>{{ article.libelle }}</td>
          <td>{{ article.mark?.libelle }}</td>
          <td>{{ article.mark?.category?.libelle }}</td>
          <td class="text-center">
            <button
              pButton
              title="Modifier"
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="update(article)"
            ></button>
            <button
              pButton
              title="Supprimer"
              pRipple
              icon="pi pi-trash"
              (click)="deleteArticle(article)"
              class="p-button-rounded p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    header="Enrgistrement d'articles"
    [(visible)]="display"
    [style]="{ width: '600px' }"
    [modal]="true"
    styleClass="p-fluid"
    [baseZIndex]="10000"
    [draggable]="true"
    [resizable]="true"
  >
    <form #myForm="ngForm" name="myForm" role="form" novalidate>
      <div class="ui-dialog-content" style="height: 50vh">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <span class="text-danger">*</span>
                <label for="mark">Marque</label>
                <p-dropdown
                  id="mark"
                  #mark="ngModel"
                  [required]="true"
                  [options]="marks"
                  [virtualScroll]="true"
                  name="mark"
                  [(ngModel)]="article.mark"
                  placeholder=" selectionner la marque"
                  [filter]="true"
                  [showClear]="true"
                  [baseZIndex]="10000"
                  [showTransitionOptions]="'0ms'"
                  [hideTransitionOptions]="'0ms'"
                  optionLabel="libelle"
                >
                </p-dropdown>

                <span *ngIf="mark.invalid && (mark.dirty || mark.touched)">
                  <span *ngIf="mark.errors?.required">
                    <small class="form-text text-danger">La marque est requise</small>
                  </span>
                </span>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <span class="text-danger">*</span>
                <label for="libelle">libelle</label>
                <input
                  id="libelle"
                  minlength="2"
                  #libelle="ngModel"
                  type="text"
                  [(ngModel)]="article.libelle"
                  name="libelle"
                  id="libelle"
                  pInputText
                  required
                  autofocus
                  class="form-control"
                />

                <span *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)">
                  <span *ngIf="libelle.errors?.required">
                    <small class="text-danger">Le libellé est requis</small>
                  </span>
                  <span *ngIf="libelle.errors?.minlength">
                    <small class="text-danger">Minimum 2 caractères</small>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div class="text-center">
        <button type="button" id="cancel-save" (click)="hiddenDialog()" data-cy="entityCreateCancelButton" class="btn btn-secondary">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="myForm.invalid"
          class="btn btn-primary"
          (click)="save()"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '600px' }" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <p-toast position="center"></p-toast>
</div>
