<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mark-heading" data-cy="MarkCreateUpdateHeading" jhiTranslate="gestockApp.mark.home.createOrEditLabel">
        Create or edit a Mark
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestockApp.mark.category" for="field_category">Category</label>
          <select class="form-control" id="field_category" data-cy="category" name="category" formControlName="category">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="categoryOption.id === editForm.get('category')!.value?.id ? editForm.get('category')!.value : categoryOption"
              *ngFor="let categoryOption of categoriesSharedCollection; trackBy: trackCategoryById"
            >
              {{ categoryOption.libelle }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gestockApp.mark.libelle" for="field_libelle">Libelle</label>
        <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
        <div *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('libelle')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('libelle')?.errors?.minlength"
            jhiTranslate="entity.validation.minlength"
            [translateValues]="{ min: 2 }"
          >
            This field is required to be at least 2 characters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gestockApp.mark.deleted" for="field_deleted">Deleted</label>
        <input type="checkbox" class="form-check" name="deleted" id="field_deleted" data-cy="deleted" formControlName="deleted" />
        <div *ngIf="editForm.get('deleted')!.invalid && (editForm.get('deleted')!.dirty || editForm.get('deleted')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('deleted')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
