<div class="mt-5">
  <div>
    <div class="alert alert-warning" id="no-result" *ngIf="entrees?.length === 0">
      <span jhiTranslate="gestockApp.entree.home.notFound">No entrees found</span>
    </div>

    <jhi-alert-error></jhi-alert-error>

    <p-confirmDialog [style]="{ width: '600px' }" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-toast position="center"></p-toast>

    <div class="card">
      <p-toolbar styleClass="p-mb-4 mb-3">
        <ng-template pTemplate="left">
          <h5 class="p-m-0">Liste des stocks</h5>
        </ng-template>
        <button
          pButton
          pRipple
          [label]="Delete"
          icon="pi pi-trash"
          class="p-button-danger"
          title="Supprimer la selection"
          [disabled]="!selectedEntrees || !selectedEntrees.length"
          (click)="deleteSelectedEntrees()"
        ></button>
        <button pButton pRipple label="Stocks supprimés" icon="pi pi-times" (click)="getAllDeleted()" class="p-button-secondary"></button>

        <ng-template pTemplate="right" class="d-flex justify-content-sm-center">
          <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-info p-mr-2 m-1" (click)="showDialog()"></button>
          <button pButton pRipple label="Actualiser" (click)="loadAll()" [disabled]="isLoading" class="p-button-help p-mr-2 m-1">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          </button>
        </ng-template>
      </p-toolbar>
      <p-table
        [columns]="entrees"
        [value]="entrees"
        [scrollable]="true"
        [rows]="100"
        scrollHeight="250px"
        [virtualScroll]="true"
        [virtualRowHeight]="10"
        *ngIf="entrees && entrees.length > 0"
        [(selection)]="selectedEntrees"
        #dt
        [value]="entrees"
        dataKey="id"
        [rows]="10"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm p-datatable-responsive-demo p-datatable-striped"
        [paginator]="true"
        currentPageReportTemplate="Projection {first} à {last} de {totalRecords} entrées"
        [globalFilterFields]="[
          'id',
          'libelle',
          'article',
          'quantite',
          'restant',
          'prixUnitaireTTC',
          'serie',
          'model',
          'caractSupplementaire',
          'dateEntree'
        ]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id"><p-tableHeaderCheckbox></p-tableHeaderCheckbox><p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="libelle"><p-sortIcon field="libelle"></p-sortIcon>Libellé</th>
            <th pSortableColumn="article"><p-sortIcon field="article"></p-sortIcon>Article</th>
            <th pSortableColumn="quantite"><p-sortIcon field="quantite"></p-sortIcon>Quantité</th>
            <th pSortableColumn="restant"><p-sortIcon field="restant"></p-sortIcon>Reste</th>
            <th pSortableColumn="prixUnitaireTTC"><p-sortIcon field="prixUnitaireTTC"></p-sortIcon>Prix unitaire TTC</th>
            <th hidden pSortableColumn="serie"><p-sortIcon field="serie"></p-sortIcon>Série</th>
            <th pSortableColumn="model"><p-sortIcon field="model"></p-sortIcon>Model</th>
            <th pSortableColumn="caractSupplementaire"><p-sortIcon field="caractSupplementaire"></p-sortIcon>Caractéristique</th>
            <th pSortableColumn="dateEntree"><p-sortIcon field="dateEntree"></p-sortIcon>Date d'entrée</th>
            <th pSortableColumn="libelle"><p-sortIcon field="libelle"></p-sortIcon>Actions</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="text" field="id"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="libelle"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="article"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="quantite"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="restant"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="prixUnitaireTTC"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="serie"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="model"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="caractSupplementaire"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="dateEntree"></p-columnFilter>
            </th>
            <th hidden>
              <p-columnFilter type="text" field="libelle"></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entree>
          <tr>
            <td>
              <p-tableCheckbox [value]="entree"></p-tableCheckbox>
            </td>
            <td>
              {{ entree.libelle }}
            </td>
            <td>
              {{ entree.article?.libelle }}
            </td>
            <td>
              {{ entree.quantite }}
            </td>
            <td>
              {{ entree.restant }}
            </td>
            <td>
              {{ entree.prixUnitaireTTC }}
            </td>
            <td>
              {{ entree.model }}
            </td>
            <td>
              {{ entree.caractSupplementaire }}
            </td>
            <td>
              {{ entree.dateEntree | formatMediumDate }}
            </td>
            <td class="text-center d-flex">
              <button
                pButton
                pRipple
                title="Voir les détails"
                (click)="detail(entree)"
                icon="pi pi-eye-slash"
                class="p-button-rounded p-button-info"
              ></button>
              <button
                pButton
                title="Modifier"
                pRipple
                icon="pi pi-pencil"
                (click)="update(entree)"
                class="mx-1 p-button-rounded p-button-success p-mr-2"
              ></button>
              <button
                pButton
                title="Supprimer"
                pRipple
                icon="pi pi-trash"
                (click)="deleteEntree(entree)"
                class="p-button-rounded p-button-danger"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">Pas d'entrée trouvrée pour ce filtage</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog
      header="Liste des stock supprimés"
      [(visible)]="displayDeletedListe"
      [style]="{ width: '80%' }"
      [modal]="true"
      styleClass="p-fluid"
      [baseZIndex]="10000"
      [draggable]="true"
      [resizable]="true"
    >
      <div class="card border border-danger">
        <p-toolbar styleClass="p-mb-4 mb-3">
          <ng-template pTemplate="left">
            <h5 class="p-m-0 text-danger text-sm-center">Liste des stocks supprimés</h5>
          </ng-template>
          <button
            hidden
            pButton
            pRipple
            [label]="Delete"
            icon="pi pi-trash"
            class="p-button-danger"
            title="Supprimer la selection"
            [disabled]="!selectedEntrees || !selectedEntrees.length"
            (click)="deleteSelectedEntrees()"
          ></button>

          <button hidden class="btn btn-info" title="Voir les stocks supprimés" (click)="getAllDeleted()">Stocks supprimés</button>

          <ng-template pTemplate="right">
            <button
              hidden
              pButton
              pRipple
              label="Ajouter"
              icon="pi pi-plus"
              class="p-button-info p-mr-2 m-1"
              (click)="showDialog()"
            ></button>
            <button hidden pButton pRipple label="Actualiser" (click)="loadAll()" [disabled]="isLoading" class="p-button-help">
              <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            </button>
          </ng-template>
        </p-toolbar>
        <p-table
          [columns]="deleteDataVar"
          [value]="deleteDataVar"
          [scrollable]="true"
          [rows]="100"
          scrollHeight="250px"
          [virtualScroll]="true"
          [virtualRowHeight]="10"
          *ngIf="deleteDataVar && deleteDataVar.length > 0"
          [(selection)]="selectedEntrees"
          #dt
          [value]="deleteDataVar"
          dataKey="id"
          [rows]="10"
          [rowHover]="true"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          [loading]="loading"
          styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm p-datatable-responsive-demo p-datatable-striped"
          [paginator]="true"
          currentPageReportTemplate="Projection {first} à {last} de {totalRecords} entrées"
          [globalFilterFields]="['libelle', 'article', 'quantite', 'model', 'caractSupplementaire']"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="libelle"><p-sortIcon field="libelle"></p-sortIcon>Libellé</th>
              <th pSortableColumn="article"><p-sortIcon field="article"></p-sortIcon>Article</th>
              <th pSortableColumn="quantite"><p-sortIcon field="quantite"></p-sortIcon>Quantité</th>
              <th pSortableColumn="model"><p-sortIcon field="model"></p-sortIcon>Model</th>
              <th pSortableColumn="caractSupplementaire"><p-sortIcon field="caractSupplementaire"></p-sortIcon>Caractéristique</th>
              <th pSortableColumn="libelle"><p-sortIcon field="libelle"></p-sortIcon>Actions</th>
            </tr>
            <tr>
              <th>
                <p-columnFilter type="text" field="libelle"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="article"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="quantite"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="model"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="caractSupplementaire"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="libelle"></p-columnFilter>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entree>
            <tr>
              <td>
                {{ entree?.libelle }}
              </td>
              <td>
                {{ entree.article?.libelle }}
              </td>
              <td>
                {{ entree.quantite }}
              </td>
              <td>
                {{ entree.model }}
              </td>
              <td>
                {{ entree.caractSupplementaire }}
              </td>
              <td class="text-center d-flex justify-content-sm-center">
                <button
                  pButton
                  pRipple
                  title="Voir les détails"
                  (click)="detail(entree)"
                  icon="pi pi-eye-slash"
                  class="p-button-rounded p-button-info mx-1"
                ></button>
                <button
                  pButton
                  title="Restorer"
                  pRipple
                  icon="pi pi-refresh"
                  class="p-button-rounded p-button-secondary"
                  (click)="restoreEntree(entree)"
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">Pas d'entrée trouvrée pour ce filtage</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-dialog>
    <p-dialog
      header="Enrgistrement d'entrées(s)"
      [(visible)]="display"
      [style]="{ width: '600px' }"
      [modal]="true"
      styleClass="p-fluid"
      [baseZIndex]="10000"
      [draggable]="true"
      [resizable]="true"
    >
      <form #myForm="ngForm" name="myForm" role="form" novalidate>
        <div class="ui-dialog-content" style="height: 100vh">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label for="article">Article</label>
                  <p-dropdown
                    id="article"
                    #article="ngModel"
                    [required]="true"
                    [options]="articles"
                    [virtualScroll]="true"
                    name="article"
                    [(ngModel)]="entree.article"
                    placeholder=" selectionner l'article"
                    [filter]="true"
                    [showClear]="true"
                    [baseZIndex]="10000"
                    [showTransitionOptions]="'0ms'"
                    [hideTransitionOptions]="'0ms'"
                    optionLabel="libelle"
                  >
                  </p-dropdown>

                  <span *ngIf="article.invalid && (article.dirty || article.touched)">
                    <span *ngIf="article.errors?.required">
                      <small class="form-text text-danger">L'article est requis</small>
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label for="fournisseur">Fournisseur</label>
                  <p-dropdown
                    id="fournisseur"
                    #fournisseur="ngModel"
                    [required]="true"
                    [options]="fournisseurs"
                    [virtualScroll]="true"
                    name="exercice"
                    [(ngModel)]="entree.fournisseur"
                    placeholder=" selectionner le fournisseur"
                    [filter]="true"
                    [showClear]="true"
                    [baseZIndex]="10000"
                    [showTransitionOptions]="'0ms'"
                    [hideTransitionOptions]="'0ms'"
                    optionLabel="nom"
                  >
                  </p-dropdown>

                  <span *ngIf="fournisseur.invalid && (fournisseur.dirty || fournisseur.touched)">
                    <span *ngIf="fournisseur.errors?.required">
                      <small class="form-text text-danger">Le fournisseur est requis</small>
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label for="parametre">Parametre</label>
                  <p-dropdown
                    id="parametre"
                    #parametre="ngModel"
                    [required]="true"
                    [options]="parametres"
                    [virtualScroll]="true"
                    name="parametre"
                    [(ngModel)]="entree.parametre"
                    placeholder=" selectionner le parametre"
                    [filter]="true"
                    [showClear]="true"
                    [baseZIndex]="10000"
                    [showTransitionOptions]="'0ms'"
                    [hideTransitionOptions]="'0ms'"
                    optionLabel="libelle"
                  >
                  </p-dropdown>

                  <span *ngIf="parametre.invalid && (parametre.dirty || parametre.touched)">
                    <span *ngIf="parametre.errors?.required">
                      <small class="form-text text-danger">Le parametre est requis</small>
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label for="exercice">Exercice</label>
                  <p-dropdown
                    id="exercice"
                    #exercice="ngModel"
                    [required]="true"
                    [options]="exercices"
                    [virtualScroll]="true"
                    name="exercice"
                    [(ngModel)]="entree.exercice"
                    placeholder=" selectionner l'exercice"
                    [filter]="true"
                    [showClear]="true"
                    [baseZIndex]="10000"
                    [showTransitionOptions]="'0ms'"
                    [hideTransitionOptions]="'0ms'"
                    optionLabel="annee"
                  >
                  </p-dropdown>

                  <span *ngIf="exercice.invalid && (exercice.dirty || exercice.touched)">
                    <span *ngIf="exercice.errors?.required">
                      <small class="form-text text-danger">L'exercice est requis</small>
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label for="libelle">libelle</label>
                  <input
                    id="libelle"
                    minlength="2"
                    #libelle="ngModel"
                    type="text"
                    [(ngModel)]="entree.libelle"
                    name="libelle"
                    id="libelle"
                    pInputText
                    required
                    autofocus
                    class="form-control ng-invalid ng-dirty"
                  />
                  <span *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)">
                    <span *ngIf="libelle.errors?.required">
                      <small class="text-danger">Le libellé est requis</small>
                    </span>
                    <span *ngIf="libelle.errors?.minlength">
                      <small class="text-danger">Minimum 2 caractères</small>
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label for="quantite">Quantite</label>
                  <input
                    id="quantite"
                    minlength="2"
                    #quantite="ngModel"
                    type="text"
                    [(ngModel)]="entree.quantite"
                    name="quantite"
                    id="quantite"
                    pInputText
                    required
                    autofocus
                    class="form-control"
                  />
                  <span *ngIf="quantite.invalid && (quantite.dirty || quantite.touched)">
                    <span *ngIf="quantite.errors?.required">
                      <small class="text-danger">La quantité est requise</small>
                    </span>
                    <span *ngIf="quantite.errors?.minlength">
                      <small class="text-danger">Minimum 2 caractères</small>
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label for="prixUnitaireTTC">Prix Unitaire TTC</label>
                  <input
                    id="prixUnitaireTTC"
                    minlength="2"
                    #prixUnitaireTTC="ngModel"
                    type="text"
                    [(ngModel)]="entree.prixUnitaireTTC"
                    name="prixUnitaireTTC"
                    id="prixUnitaireTTC"
                    pInputText
                    required
                    autofocus
                    class="form-control"
                  />
                  <span *ngIf="prixUnitaireTTC.invalid && (prixUnitaireTTC.dirty || prixUnitaireTTC.touched)">
                    <span *ngIf="prixUnitaireTTC.errors?.required">
                      <small class="text-danger">Le prix est requis</small>
                    </span>
                    <span *ngIf="prixUnitaireTTC.errors?.minlength">
                      <small class="text-danger">Minimum 2 caractères</small>
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label for="serie">Serie</label>
                  <input
                    id="serie"
                    minlength="2"
                    #serie="ngModel"
                    type="text"
                    [(ngModel)]="entree.serie"
                    name="serie"
                    id="serie"
                    pInputText
                    autofocus
                    class="form-control"
                  />
                  <!--                  <span *ngIf="serie.invalid && (serie.dirty || serie.touched)">-->
                  <!--                    <span *ngIf="serie.errors?.required">-->
                  <!--                      <small class="text-danger">La serie est requise</small>-->
                  <!--                    </span>-->
                  <!--                    <span *ngIf="serie.errors?.minlength">-->
                  <!--                      <small class="text-danger">Minimum 2 caractères</small>-->
                  <!--                    </span>-->
                  <!--                  </span>-->
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label for="model">Model</label>
                  <input
                    id="model"
                    minlength="2"
                    #model="ngModel"
                    type="text"
                    [(ngModel)]="entree.model"
                    name="model"
                    id="model"
                    pInputText
                    required
                    autofocus
                    class="form-control"
                  />
                  <span *ngIf="model.invalid && (model.dirty || model.touched)">
                    <span *ngIf="model.errors?.required">
                      <small class="text-danger">Le model est requis</small>
                    </span>
                    <span *ngIf="model.errors?.minlength">
                      <small class="text-danger">Minimum 2 caractères</small>
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label for="caractSupplementaire">Caractéristique</label>
                  <input
                    id="caractSupplementaire"
                    minlength="2"
                    #caractSupplementaire="ngModel"
                    type="text"
                    [(ngModel)]="entree.caractSupplementaire"
                    name="caractSupplementaire"
                    id="caractSupplementaire"
                    pInputText
                    required
                    autofocus
                    class="form-control"
                  />
                  <span *ngIf="caractSupplementaire.invalid && (caractSupplementaire.dirty || caractSupplementaire.touched)">
                    <span *ngIf="caractSupplementaire.errors?.required">
                      <small class="text-danger">La caractéristique est requise</small>
                    </span>
                    <span *ngIf="caractSupplementaire.errors?.minlength">
                      <small class="text-danger">Minimum 2 caractères</small>
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label class="form-control-label" jhiTranslate="gestockApp.entree.dateEntree" for="field_dateEntree">Date Entree</label>
                  <div class="input-group">
                    <input
                      id="field_dateEntree"
                      data-cy="dateEntree, ngModel"
                      type="text"
                      class="form-control"
                      name="dateEntree"
                      ngbDatepicker
                      #dateEntreeDp="ngbDatepicker"
                      #dateEntree="ngModel"
                      [(ngModel)]="entree.dateEntree"
                    />
                    <span class="input-group-append">
                      <button type="button" class="btn btn-secondary" (click)="dateEntreeDp.toggle()">
                        <fa-icon icon="calendar-alt"></fa-icon>
                      </button>
                    </span>
                  </div>

                  <span *ngIf="dateEntree.invalid && (dateEntree.dirty || dateEntree.touched)">
                    <span *ngIf="dateEntree.errors?.required">
                      <small class="text-danger">Le model est requis</small>
                    </span>
                    <span *ngIf="dateEntree.errors?.minlength">
                      <small class="text-danger">Minimum 2 caractères</small>
                    </span>
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="text-danger">*</span>
                  <label>Observation</label>
                  <textarea
                    rows="2"
                    cols="20"
                    pInputTextarea
                    [(ngModel)]="entree.observation"
                    id="observation"
                    minlength="10"
                    #observation="ngModel"
                    type="text"
                    [(ngModel)]="entree.observation"
                    name="observation"
                    pInputText
                    required
                    autofocus
                  ></textarea>

                  <span *ngIf="observation.invalid && (observation.dirty || observation.touched)">
                    <span *ngIf="observation.errors?.required">
                      <small class="text-danger">L'observation est requise</small>
                    </span>
                    <span *ngIf="observation.errors?.minlength">
                      <small class="text-danger">Minimum 10 caractères</small>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <ng-template pTemplate="footer">
        <div class="text-center">
          <button type="button" id="cancel-save" (click)="hiddenDialog()" data-cy="entityCreateCancelButton" class="btn btn-secondary">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="myForm.invalid"
            class="btn btn-primary"
            (click)="save()"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </ng-template>
    </p-dialog>

    <p-dialog
      header="Détail d'une entrée"
      [(visible)]="displayDetail"
      [style]="{ width: '600px' }"
      [modal]="true"
      styleClass="p-fluid"
      [baseZIndex]="10000"
      [draggable]="true"
      [resizable]="true"
    >
      <div class="ui-dialog-content">
        <dl class="row-md jh-entity-details table table-bordered table-sm table-responsive p-sm-2">
          <dt class="text-justify"><span>Libellé</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree.libelle }}</span>
          </dd>

          <dt class="text-justify"><span>Article</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree?.article?.libelle }}</span>
          </dd>

          <dt class="text-justify"><span>Quantité</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree.quantite }}</span>
          </dd>

          <dt class="text-justify"><span>Prix Unitaire</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree.prixUnitaireTTC }}</span>
          </dd>

          <dt class="text-justify"><span>Catégorie</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree?.article?.mark?.category?.libelle }}</span>
          </dd>

          <dt class="text-justify"><span>Marque</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree?.article?.mark?.libelle }}</span>
          </dd>

          <dt class="text-justify"><span>Modèle</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree?.model }}</span>
          </dd>

          <dt class="text-justify"><span>Série</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree?.serie }}</span>
          </dd>

          <dt class="text-justify"><span>Caractéristiques</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree?.caractSupplementaire }}</span>
          </dd>

          <dt class="text-justify"><span>Date d'entrée</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree?.dateEntree }}</span>
          </dd>

          <dt class="text-justify"><span>Fournisseur</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree?.fournisseur?.nom }}</span>
          </dd>

          <dt class="text-justify"><span>Paramètre</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree?.parametre?.tva }}</span>
          </dd>

          <dt class="text-justify"><span>Exercice</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree?.exercice?.annee }}</span>
          </dd>

          <dt class="text-justify"><span>Observation</span></dt>
          <dd class="ml-sm-4">
            <span>{{ entree.observation }}</span>
          </dd>
        </dl>
      </div>
      <ng-template pTemplate="footer">
        <div class="text-center d-flex justify-content-sm-center">
          <button
            type="button"
            icon="pi pi-times"
            (click)="hiddenDialogDetail()"
            data-cy="entityCreateCancelButton"
            class="btn btn-primary"
          >
            &nbsp;ok
          </button>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</div>
